body {
	background: #fff url('../img/flower.jpg') no-repeat fixed center;
	/* font-family: Verdana, serif; */
	font-size: small;
}

#header {
	background-color:#ffffff;
	border:1px solid white;
	filter:alpha(opacity=80);
	opacity:0.8;
}

#container {
	width: 800px;
}

.frame {
	margin:100px 100px;
	background-color:#ffffff;
	border:1px solid white;
	filter:alpha(opacity=80);
	opacity:0.8;
}
