<!doctype html public "-//w3c//dtd xhtml 1.0 strict//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
		<meta name="author" content="Lorenzo Bolla">
		<meta name="keywords" content="wedding, matrimonio">
		<meta name="description" content="Laura &amp; Lorenzo">
		<meta name="robots" content="all">

		<title>
			{% block title %}
				{{ maintitle }} 
				{% if subtitle %}
					| {{ subtitle }}
				{% endif %}
			{% endblock %}
		</title>

		<style type="text/css" media="all">
			{% block styles %}
			@import "/css/base.css";
			{% endblock %}
		</style>
	</head>

	<body>

		<div id="header">
			<div id="navbar">
				<ul>
					<li><a href="/">Main</a></li>
					<li><a href="/info">Info</li>
					<li><a href="/japan">Japan</li>
					<li><a href="/home">Home</li>
				</ul>
			</div>
			<div id="langbar">
				<ul>
					<li><a href="#">English</a></li>
					<li><a href="#">Italiano</a></li>
				</ul>
			</div>
		</div>

		{% if EXC %}
		<div id="exc">
			<h1>Error!</h1>
			<p>{{ EXC }}</p>
		</div>
		{% endif %}
		
		<div id="container">
			{% block container %}
			{% endblock %}
		</div>

		<div id="footer">
			<div id="user">
				{% if user %}
				Ciao {{ user }}! <a href="{{ logout_url }}">Logout</a>
				{% endif %}
			</div>
		</div>

	</body>
</html>
