{% extends "base.html" %}

{% block styles %}
@import "/css/base.css";
@import "/css/japan.css";
{% endblock %}

{% block container %}

<div class="frame">
	<p>Sakura style</p>
	<ul>
		<li>sfondo hokusai fiori fisso</li>
		<li>riquadri traslucidi bianchi (bordo bianco solid 1px)</li>
		<li>forse body resize to fit bg pic?</li>
		<li><a href="http://www.dynamicdrive.com/dynamicindex4/lightbox2/index.htm">lightbox</a>per immagini giappone</li>
	</ul>
	<form action="/japan" method="post">
		<div><label for="sender">From:<input name="sender" /></label></div>
		<div><label for="amount">Donate:<input name="amount" /></label></div>
		<div>Paypal donate picture</div>
		<div><label for="body">Message:<textarea name="body" rows="6" cols="25"></textarea></label></div>
		<div><input type="submit" value="Send"></div>
		<div class="form-msg">{{ form_msg }}</div>
	</form>
</div>
													 
<div class="frame">
	blah blah
</div>

<div class="frame">
	blah blah
</div>

{% endblock %}
